* {
    padding: 0px;
    margin: 0px;
}

img {
    max-width: 100%;
}

body{
    background-color: #470822
}

h1 {
    text-align: center;
}

.main-container{
    position: relative;
    overflow: hidden;

}

.corner{
    position: absolute;
    top: -65px;
    right: 0px;
    overflow: hidden;
}

.corner img{
    transform: rotate(90deg) translatey(5%) translateX(10%);
    max-width: 125%;
    width: 125% !important;
}


.cover-img {
    background-size: cover;
    padding: 10px;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-img img{
    display: block;
    width: 50%;
    border-radius: 40px;
}

.letter-cool{
    font-family: "Parisienne", cursive;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
}

.funny-letters{
    font-family: "Parisienne", cursive;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 40px;
    padding-left: 20px;
}

.presentation{
    margin-top: 0px;
    color: white;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.presentation-inv {
    font-size: 12px;
}

.presentation img{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 50px;
}

.ancor-map{
    display: block;
    width: 30%;
    text-align: center;
    font-size: 12px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 15px;
}

.lineado {
    text-align: center;
    font-size: 25px;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-top: 40px;
  }
  
  .texto-regalo {

    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    margin-bottom: 15px;
  }

  .regalo-presentacion {
    text-align: center;
    color: white;
  }

.regalo-presentacion p {
    font-weight: bold;
    margin-top: 10px;
}
  .lineado::before,
  .lineado::after {
    content: "";
    width: 100px; /* Puedes ajustar el ancho */
    height: 1px;
    vertical-align: middle;
    margin: 0 10px;
    background-color: white;
  }


.itinerario{
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    color: white;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
}

.itinerario img {
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box-left{
    position: relative;
}

.arrow {
    position: absolute;
    right: -90px;
    top: calc(100% - 55px);
}

.confirmar-asistencia {
    text-align: center;
    margin: 10px 0px;
    color: white;
    margin-bottom: 50px;
}

.confirmar-asistencia h2{
    margin-bottom: 15px;
    font-size: 40px;
}